
body{
    margin: 0;
    box-sizing: border-box;
}
nav{

 button{
    width:150px;
    border: red solid 2px;
    color: red;
    background-color: transparent;
    font-weight: 600;
    &:hover{
    color: white;
    background-color: red;
 }  
 } 
 .profile-arrow {
    font-size: 1rem;
    color: #e10000; 
  
}
 
}
main{
    background-image: url(../images/mainBackground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    min-height: 300px;
   .btn-group{
    background-color: rgb(231, 224, 224,0.5);
    
   }
}